name: CI

on:
  pull_request:
  push:
    branches:
      - main
jobs:
  clippy:
    name: Vercel Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/heckout@v2

      - name: Setup
        uses: ./.github/actions/setup

      - name: Install Vercel CLI
        run: pnpm i -g vercel

      - name: Build
        run: vercel build

      - name: Deploy Staging
        if: github.ref != 'refs/heads/main'
        run: vercel deploy --prebuilt

      - name: Deploy Prod
        if: github.ref == 'refs/heads/main'
        run: vercel deploy --prebuilt --prod
