name: CI

on:
  pull_request:
  push:
    branches:
      - main

env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}

jobs:
  clippy:
    name: Vercel Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install Rust stable
        run: |
          rustup target add x86_64-unknown-linux-musl
          rustup install stable 

      - name: Install pnpm
        uses: pnpm/action-setup@v2.2.2
        with:
          version: 7.x.x

      - name: Cache Rust deps
        uses: Swatinem/rust-cache@v2
        with:
          save-if: true

      - name: Generate Prisma client
        uses: ./.github/actions/generate-prisma-client

      - name: Install Vercel CLI
        run: pnpm i -g vercel

      - name: Setup Vercel
        run: vercel pull --yes --environment=preview --token=${{ secrets.VERCEL_TOKEN }}

      - name: Build Staging
        run: vercel build --token=${{ secrets.VERCEL_TOKEN }}

      - name: Deploy Staging
        run: vercel deploy --prebuilt --token=${{ secrets.VERCEL_TOKEN }}

      - name: Build Prod
        if: github.ref != 'refs/heads/main'
        run: vercel build --token=${{ secrets.VERCEL_TOKEN }} --prod

      - name: Deploy Prod
        if: github.ref == 'refs/heads/main'
        run: vercel deploy --prebuilt --prod --token=${{ secrets.VERCEL_TOKEN }}
